.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 1.2rem;
}

  .navbar-logo img{
      width: 200px;
      margin-top: 50px;

  }

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
  }

  .nav-item {
    height: 80px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    color: purple;
    font-weight: bold;
  }
  .mobileNavigation{
    display: none;
  }

@media (max-width: 850px) {
  .navigation {
    display: none;
  }

  .mobileNavigation{
    display: block;
    align-items: center;
   
  }

  .hamburger{
    position: absolute;
    right: 10%;
    cursor: pointer;   
  }
  .navbar {
    justify-content: left;

  }
  .navbar-logo img{
    width: 100px;
    margin: 20px 0 0 15px;
}

.nav-menu{

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 120px;
  right: 0;
  width: 100%;
  background: rgba(128, 0, 128);
  border-top: 2px solid #ffc107;
  margin: 0;
  padding: 10px 0 10px 10px ;
  z-index: 999;
}

.nav-links {
  color: #ffc107;
  font-size: 1rem;
  font-weight: normal;
}

.nav-links:hover {
  color: white;
}


  
}