.heroSection{
    background-image: url('../../public/assets/foto20.jpg');
    background-size: cover;
    background-position: 50%;
    height: 800px;

}

.slogan{

    
    height: 700px;
    position: relative;

}
.text{
    background: rgba(255, 255, 255, 0.507);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 120px; 
	margin-top: -60px; /* Este valor es el resultado de dividir entre 2 height: 70*/
	margin-left: -40%; /* Este valor es el resultado de dividir entre 2 : width:80% */
	text-align: center;
    color: purple;

}
.slogan h1{
    font-size: 3rem;
}
.slogan h3{
    margin-top: 20px;
    font-size: 1.5rem;
}




